.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  z-index: -5;
  position: relative;
  width: 37.5rem;
}

.image {
  max-width: 48rem;
  height: auto;
  height: 10rem;
  align-self: center;
}

@media only screen and (min-width: 786px) {
  .header {
    width: 76.8rem;
    height: auto;
  }
  .image {
    max-width: 76.8rem;
    height: auto;
  }
}
