.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 32.7rem;
  /* height: 45.8rem; */
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 2.4rem;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
  height: 32rem;
  overflow: scroll;
}

@media only screen and (min-width: 430px) {
  .container {
    width: 35rem;
    margin: 15rem 0;
  }
  .inputsWrapper {
    height: 40rem;
  }
}

@media only screen and (min-width: 786px) {
  .container {
    width: 52.8rem;
  }
}

@media only screen and (min-width: 1100px) {
}
