.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 85vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.4rem;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
  height: 32rem;
  overflow-y: scroll;
}

.containerNotFond {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.link {
  display: block;
  padding: 1.5rem 8rem;
  border: none;
  background-color: var(--btn-bg);
  border-radius: var(--border-radius);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--main-bg);
  font-family: var(--base-font);
}

@media only screen and (min-width: 430px) {
  .container {
    width: 35rem;
    margin: 15rem 0;
  }
  .inputsWrapper {
    height: 40rem;
    overflow-y: unset;
  }
}

@media only screen and (min-width: 786px) {
  .container {
    width: 52.8rem;
  }

  .link {
    padding: 1.5rem 14rem;
  }
}

@media only screen and (min-width: 1100px) {
}
